.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url("../images/banner.png");
  background-size: cover;
  border-radius: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.picture {
    width: 60%;
}
@media (min-width: 768px){
    .picture{
        width: 40%;
    }
}

.card img{
  opacity: 1;
  transition: 0.2s;
}

.card:hover img{
  opacity: 0.3;
}

.card-title, .card-text{
  opacity: 0;
  transition: 0.2s;
}

.card:hover .card-title, .card:hover .card-text{
  opacity: 1;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
